@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  transition: all .4s ease-in-out;
}


body{
  font-family: 'Jost';
  margin: 0;
  overflow-x: hidden;
  text-align: center;

  h1{
    font-family: 'Overpass';
    font-weight: 900;
    line-height: 3rem;
  }

  .nav{
    width: 100vw;
    padding: 0;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(8px 8px 10px gray);
    ul{
      display: flex;
      list-style: none;
      align-items: center;
      padding-right: 2rem;
      padding-left: 1rem;
      margin:0;

      li{
        padding: 0 1rem;
        font-family: 'Overpass';
        font-weight: 700;
        font-size: 2rem;      
      }
      li:nth-child(1) {
        display: flex;
        flex-grow: 1;
        margin-right: auto;
        padding: 0;
        height: 5rem;
        max-height: 9vh;
        margin: 0;
        object-fit: contain;
      }
    }
    
  }
  #home-section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, 0.9);
    background-color: #f1f1f1;
    padding: 2rem;

    div{
      display: flex;
      flex-wrap:wrap-reverse;
      div{
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
      }
      
        h1{
          color: black;
          font-size: 3rem;
          padding: 0 4rem;
        }
        p{
          font-size: 1rem;
          padding: 0 4rem;
          margin: 0 0 3rem 0;
        }

        span{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          button{
            color: #ffffff;
            font-size: larger;
            font-weight: 700;
            letter-spacing: .3rem;
            text-decoration: none;
            border: none;
            padding: .5rem 1rem;
            margin: 1rem;
            border-radius: .5rem;
            filter: drop-shadow(8px 8px 10px gray);        
          }
        }
        .contactUs-btn{
          background-color: #eb57ff;
          }
        img{
          object-fit: contain;
          height: 18rem;
          max-width: 80vw;
        }
      }
  }  
  #services-section{
    border-top: #80808062 solid 1px;
    background-color: rgb(250, 250, 250);
    
    .intro{
      flex-direction: column;

    }

    div{
      
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      margin: 0 auto 2rem auto;
      gap: 2rem;
      justify-content: center;
    }

    .card{
      margin: 0;
      padding:1.5rem 1rem 3rem 1rem;
      background-color: rgb(255, 255, 255);
      border: #80808062 solid 1px;
      border-radius: .5rem;
      filter: drop-shadow(8px 8px 10px gray);
      width: 20rem;

      .cardContent{
        max-width: 65vw;
        margin: 0;
        padding: 0;

        p{
          margin: 0;
        }
        
      }
      h2{
        font-size: 2rem;
        margin:0;
        
      }

      img{
        margin: 0;
        max-width: 65vw;
        object-fit: contain;
      }
    }
  }

  #gallery-section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    background-color: #0300294b;
    font-size: 2rem;
      h1{
        margin: 2rem 0 0 0;
      }
      span{
        color:#f3f3f3;
        margin: 0 0 3rem 0;
      }


    .slider {
      width: 90vw;
      height: 80dvh;
      display: flex;
      overflow-y: hidden;
      overflow-x:scroll ;
      scrollbar-width: 1px;
      align-items: center;
      scrollbar-color: rgba(55, 0, 255, 0.219);
      
    
    
      .slide {
        margin:0;
        padding:0;
        

        .image {
          box-sizing: border-box;
          object-fit: contain;
          width: 90vw;
          max-height: 80dvh;
        } 
      }
    }
  }
  #contact-section{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin: 5dvh 0;
        
    > div:nth-child(2){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin: 5dvh 0;
      .social{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 2rem;
        background-color: rgb(255, 255, 255);
        border: #d4d4d4 solid 1px;
        border-radius: 1rem;
        filter: drop-shadow(8px 8px 10px gray);
        img{
          height: 3.5rem;
          margin-right: 1rem;
        }
        a{
          font-size: 1.2rem;
          font-weight: 300;
          text-decoration: none;
          color: #2a51ff;
        }
        span{
          display: block;
          margin: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
        
      }
    }
    button{
      width: 70vw;
      padding: 2dvh;
      font-size: 2rem;
      margin:3dvh;
      text-align: center;
      font-weight: 700;
      border-radius: 1rem;
      letter-spacing: 0.3rem;
      border: none;
      background-color: rgb(15, 137, 137);
      color: white;
    }
    .map{
          width: 80vw;
          aspect-ratio: 16/9;
          border-radius: 1rem;
          border: none;
        }
  }

  #about-section{
    background-color: rgb(217, 217, 217);
    padding: 5dvh 0;
    .about-content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5dvh 5vw;
      gap: 2rem;
  
      .about-info{
        display: flex;
        margin: 0;
  
        span {
          font-size: 7rem;
          margin: 0;
          padding: 0;
        }
        p{
          text-align: left;
        }
      }
    }
    span{
      display: flex;
      justify-content: center;
      margin: 2rem auto;
      font-size: 2rem;
    }
    button{
      border: none;
      border-radius: 1rem;
      color:rgb(255, 255, 255);
      background-color: #000000;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: .2rem;
      margin: 0;
      padding: 2rem 4rem;
    }
  }
  
  .footer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5dvh;
    background-color: white;
    padding: 1dvh 3vw;
    img{
      height: 3dvh;
      margin:0 .5dvh 0 0;
      filter: grayscale(100%) contrast(100%);
    }
    span{
      font-size: 2.5dvh;
      margin: 0 0 0 auto;
    }
  }
}

.navbar-toggle {
  display: none; /* Initially hidden on larger screens */
  flex-direction: column;
  cursor: pointer;
  position:absolute;
  right: 5vw;
  top: 3vw;
  background-color: #000000;
  padding: 1.5vw;
  border-radius: 1vw;
}

.bar {
  width: 4.5vw;
  height: .6vw;
  margin: .4vw 0;
  background-color: #ffffff;
}

@media ( orientation: portrait) { /* Adjust breakpoint as needed */
  .navbar-toggle{
    display: flex;
  }
  ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 3vw 0 2vw 0;
    border-bottom: #d4d4d4 solid 2px;
    filter: drop-shadow(8px 8px 10px gray);
    z-index: 10;
    background-color: white;

    img{
      position: absolute;
      left:5vw;
      height: 7vw;
    }
  }
 
  .menuItem{
    font-size: 2dvh;
    letter-spacing: .5dvh;
    display: none;
    margin: 1dvh 0;
    position: relative;
  }
  
  #darkDiv{
    height: 100dvh;
    width: 100vw;
    background-color: rgba(3, 0, 26, 0.473);
    z-index: -10;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  a{
      font-size: 3rem;
      letter-spacing: .2rem;
  }
  p{
  }
  .sectionDescription{
    font-size: 1.5rem;
  }
  
 .cards{
    flex-direction: column ;
    align-items: center;
 }
 #contact-section{

  a{
    font-size: 5rem;
  }
 }
 

}